---
title: "Web design & development"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mark-solarski-TkEPQPWr2sY-unsplash.jpg
  actions:
    - label: "Download"
      url: "#"
excerpt: "KHTech là công ty chuyên về thiết kế website và phát triển phần mềm tại Khánh Hòa, phát triển các giải pháp tích hợp hệ thống điều khiển giám sát, thu thập dữ liệu ioT..."
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: assets/images/kaleidico-HixzNprXdb4-unsplash.jpg
    alt: "placeholder image 1"
    title: "Web design & development"
    excerpt: "Thiết kế website, phát triển phần mềm theo yêu cầu."
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/kaleidico-HixzNprXdb4-unsplash.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "GIS - Phần mềm quản lý dựa trên nền tảng bản đồ"
    excerpt: "Xây dựng phát triển các ứng dụng dựa trên nền tảng công nghệ bản đồ GIS (Hệ thống thông tin địa lý)"
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/kaleidico-HixzNprXdb4-unsplash.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

