---
title: "Web Design & Software Solutions "
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/mark-solarski-TkEPQPWr2sY-unsplash.jpg
  actions:
    - label: "Download"
      url: "#"
excerpt: "Thiết kế Website và Các giải pháp phần mềm doanh nghiệp."
intro: 
  - excerpt: 'KHTech cam kết là Đối tác công nghệ thông tin đồng hành cho sự thành công của bạn. Thành công của bạn cũng chính là thành công của chúng tôi.'
feature_row:
  - image_path: assets/images/wdwd-hdr.jpg
    alt: "placeholder image 1"
    title: "Web design & development"
    excerpt: "Thiết kế website, xây dựng các giải pháp phần mềm theo yêu cầu."
    url: "/giai-phap/thiet-ke-web/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/gcjsbase4.png
    image_caption: ""
    alt: "placeholder image 2"
    title: "GIS - Phần mềm quản lý dựa trên nền tảng bản đồ"
    excerpt: "Xây dựng phát triển các ứng dụng dựa trên nền tảng công nghệ bản đồ GIS (Hệ thống thông tin địa lý)"
    url: "/giai-phap/gis.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/mayan.png
    title: "Giải pháp Kho dữ liệu doanh nghiệp"
    excerpt: "Giải pháp quản lý và chia sẻ dữ liệu tài liệu điện tử trong doanh nghiệp, tổ chức"
    url: "/giai-phap/edms.html"
    btn_label: "Read More"
    btn_class: "btn--primary"
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

